@font-face {
    font-family: "BentonSans";
    font-weight: 300;
    src: url("bentonsans-book.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "BentonSans";
    font-weight: 400;
    src: url("bentonsans-regular.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "BentonSans";
    font-weight: 700;
    src: url("bentonsans-medium.woff2") format("woff2");
    font-display: swap;
}
