@font-face {
    font-family: NeueHaasDisplay;
    font-display: swap;
    src: url(NeueHaasDisplay/NeueHaasDisplay-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal
}
@font-face {
    font-family: NeueHaasDisplay;
    font-display: swap;
    src: url(NeueHaasDisplay/NeueHaasDisplay-Roman.woff2) format("woff2");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: NeueHaasDisplay;
    font-display: swap;
    src: url(NeueHaasDisplay/NeueHaasDisplay-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal
}
