@font-face {
    font-family: "Cascadia Code Web";
    src: url(../fonts/cascadia-code-web/CascadiaCode-ExtraLight.246d958a8f00b70fd8373b499ffdd833.woff2) format("woff2");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: "Cascadia Code Web";
    src: url(../fonts/cascadia-code-web/CascadiaCodeItalic-ExtraLightItalic.1a0ec15f06b624eb3da176895e671784.woff2) format("woff2");
    font-weight: 100;
    font-style: italic
}

@font-face {
    font-family: "Cascadia Code Web";
    src: url(../fonts/cascadia-code-web/CascadiaCode-Light.f9a90689f67330fcbc8329fca9e04cce.woff2) format("woff2");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: "Cascadia Code Web";
    src: url(../fonts/cascadia-code-web/CascadiaCodeItalic-LightItalic.66cba8520899e3f68ed032179f5e2b45.woff2) format("woff2");
    font-weight: 200;
    font-style: italic
}

@font-face {
    font-family: "Cascadia Code Web";
    src: url(../fonts/cascadia-code-web/CascadiaCode-SemiLight.ea2e95c37b0f5966785b45a4e16df742.woff2) format("woff2");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "Cascadia Code Web";
    src: url(../fonts/cascadia-code-web/CascadiaCodeItalic-SemiLightItalic.87e850014afd7905f61a3295a82456ad.woff2) format("woff2");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: "Cascadia Code Web";
    src: url(../fonts/cascadia-code-web/CascadiaCode-Regular.0d4299331ef64628d2edd3a41fa31f8e.woff2) format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Cascadia Code Web";
    src: url(../fonts/cascadia-code-web/CascadiaCodeItalic-Italic.9e0f253dc384b90bf59b6711dee9fb97.woff2) format("woff2");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: "Cascadia Code Web";
    src: url(../fonts/cascadia-code-web/CascadiaCode-SemiBold.07d0a66738f7faa0ce59108ee20e2aaa.woff2) format("woff2");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "Cascadia Code Web";
    src: url(../fonts/cascadia-code-web/CascadiaCodeItalic-SemiBoldItalic.55ba4fd79396f8b2bcbc0dbb14277aa2.woff2) format("woff2");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: "Cascadia Code Web";
    src: url(../fonts/cascadia-code-web/CascadiaCode-Bold.7c0323504cdb7b7ba935922fd44b1046.woff2) format("woff2");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "Cascadia Code Web";
    src: url(../fonts/cascadia-code-web/CascadiaCodeItalic-BoldItalic.d9fb0be28df4f4ecfc3af7b68d72b4a4.woff2) format("woff2");
    font-weight: 700;
    font-style: italic
}



.supernova-code {
    font-family: "Cascadia Code Web", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.supernova-code {
    background-color: #1a2023;
    border: 0 none;
    color: #ecf0f1;
    font-weight: 300;
    word-wrap: normal;
    white-space: pre;
}
.supernova-welcome {
    margin: 64px 0 48px 0;
    font-size: 48px;
    font-weight: 300;
    color: #000000;
}

.supernova-wrap {
    max-width: 1170px;
}


.empty-row-featured {
    display: none;
}

.feature-order-wrap {
    display: flex;
}
.feature-order-wrap div {
    text-align: center;
    padding: 24px 8px;
    margin: 2px;
    background-color: #ffffff;
    border-radius: 2px;
}
.feature-order-wrap .fa-fw {
    margin-bottom: 16px;
    opacity: 0.5;
}



/**
 * Supernova Flexbox
 */
.ui-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.ui-flex-item {
    flex: 0 1 auto;
}







.button-active {
    opacity: 0.5;
}



.wp-block[aria-label="Block: Supernova Slider"] {
    font-size: 14px;
}

.codor {
    font-family: "Cascadia Code Web", SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
    font-weight: 400;
    font-size: 13px;

    padding: 0 2px;
    margin: 0 1px;
    background: transparent;
    color: #0366d6;
}
small .codor {
    font-size: 11px;
}



.nav-tab span {
    vertical-align: top;
    border-radius: 2px;
    padding: 2px 4px;
    font-weight: 400;
    font-size: 9px;
    color: #ffffff;
}
.nav-tab span.new {
    background-color: #1abc9c;
}
.nav-tab span.themes {
    background-color: #9b59b6;
}
.nav-tab span.admin {
    background-color: #c0392b;
}



.color-well {
    font-family: "Cascadia Code Web", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    width: 96px;
}



.wp-block[aria-label="Block: Supernova Slider"],
.wp-block[data-type="wppd/footer-signature"] {
    font-family: "Cascadia Code Web", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    background-color: #eaf5ff;
    color: #0366d6;
    padding: 24px;
    cursor: default;
}
.wp-block[data-type="wppd/footer-signature"]:after {
    content: "WP Saturn Shortcode Block";
    position: absolute;
    left: auto;
    right: 6px;
    top: 6px;
    font-size: 12px;
    color: #999999;
}



/**
 * Saturn Icons (back-end only)
 */
.saturn-icon {}
.saturn-icon-12 {
    height: 12px;
}
.saturn-icon-padded {
    padding: 0 6px;
}
