.saturn-code {
    background-color: #1a2023;
    border: 0 none;
    color: #ecf0f1;
    word-wrap: normal;
    white-space: pre;
}
.saturn-welcome {
    margin: 64px 0 48px 0;
    font-size: 48px;
    font-weight: 300;
    color: #000000;
}

.saturn-wrap {
    max-width: 1170px;
}


.empty-row-featured {
    display: none;
}

.feature-order-wrap {
    display: flex;
}
.feature-order-wrap div {
    text-align: center;
    padding: 24px 8px;
    margin: 2px;
    background-color: #ffffff;
    border-radius: 2px;
}
.feature-order-wrap .fa-fw {
    margin-bottom: 16px;
    opacity: 0.5;
}



/**
 * Saturn Flexbox
 */
.ui-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.ui-flex-item {
    flex: 0 1 auto;
}







.button-active {
    opacity: 0.5;
}



.wp-block[aria-label="Block: Saturn Slider"] {
    font-size: 14px;
}

.codor {
    font-weight: 400;
    font-size: 13px;

    padding: 0 2px;
    margin: 0 1px;
    background: transparent;
    color: #0366d6;
}
small .codor {
    font-size: 11px;
}



.nav-tab span {
    vertical-align: top;
    border-radius: 2px;
    padding: 2px 4px;
    font-weight: 400;
    font-size: 9px;
    color: #ffffff;
}
.nav-tab span.new {
    background-color: #1abc9c;
}
.nav-tab span.themes {
    background-color: #9b59b6;
}
.nav-tab span.admin {
    background-color: #c0392b;
}



.color-well {
    width: 96px;
}



.wp-block[aria-label="Block: Saturn Slider"],
.wp-block[data-type="wppd/footer-signature"] {
    font-size: 12px;
    background-color: #eaf5ff;
    color: #0366d6;
    padding: 24px;
    cursor: default;
}
.wp-block[data-type="wppd/footer-signature"]:after {
    content: "WP Saturn Shortcode Block";
    position: absolute;
    left: auto;
    right: 6px;
    top: 6px;
    font-size: 12px;
    color: #999999;
}



/**
 * Code
 */
code,
.codor,
.color-well,
.saturn-code,
.wp-block[aria-label="Block: Saturn Slider"],
.wp-block[data-type="wppd/footer-signature"] {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}
code {
    font-size: inherit;
}



/**
 * Saturn Icons (back-end only)
 */
.saturn-icon-12 {
    height: 12px;
}
.saturn-icon-padded {
    padding: 0 6px;
}



/**
 * Checkbox Toggle UI
 */
input[type="checkbox"].wppd-ui-toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    -webkit-tap-highlight-color: transparent;

    width: auto;
    height: auto;
    vertical-align: middle;
    position: relative;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin: 0 4px;
    background: none;
    box-shadow: none;
}
input[type="checkbox"].wppd-ui-toggle:focus {
    box-shadow: none;
}
input[type="checkbox"].wppd-ui-toggle:after {
    content: '';
    font-size: 8px;
    font-weight: 400;
    line-height: 18px;
    text-indent: -14px;
    color: #ffffff;
    width: 36px;
    height: 18px;
    display: inline-block;
    background-color: #a7aaad;
    border-radius: 72px;
    box-shadow: 0 0 12px rgb(0 0 0 / 15%) inset;
}
input[type="checkbox"].wppd-ui-toggle:before {
    content: '';
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    margin: 0;
    border-radius: 50%;
    background-color: #ffffff;
}
input[type="checkbox"].wppd-ui-toggle:checked:before {
    left: 20px;
    margin: 0;
    background-color: #ffffff;
}
input[type="checkbox"].wppd-ui-toggle,
input[type="checkbox"].wppd-ui-toggle:before,
input[type="checkbox"].wppd-ui-toggle:after,
input[type="checkbox"].wppd-ui-toggle:checked:before,
input[type="checkbox"].wppd-ui-toggle:checked:after {
    transition: ease .15s;
}
input[type="checkbox"].wppd-ui-toggle:checked:after {
    content: 'ON';
    background-color: #2271b1;
}



/**
 * Checkblock UI
 */
.wppd-ui-checkblock--wrapper {
    display: flex;
    flex-wrap: wrap;
}

input[type="checkbox"].wppd-ui-checkblock {
    display: none;
}
input[type="checkbox"].wppd-ui-checkblock + label {
    position: relative;
    display: inline-block;
    width: 240px;
    min-height: 90px;
    padding: 12px 16px;
    margin: 0 8px 8px 0;
    background-color: var(--ui-admin-neutral);
    border-radius: 2px;
    color: #000000;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    user-select: none;
}
input[type="checkbox"].wppd-ui-checkblock:checked + label a,
input[type="checkbox"].wppd-ui-checkblock:checked + label a:hover {
    color: var(--ui-admin-neutral);
}
input[type="checkbox"].wppd-ui-checkblock + label:hover {
    cursor: pointer;
    background-color: var(--ui-admin-hover);
}
input[type="checkbox"].wppd-ui-checkblock:checked + label::after {
    position: absolute;
    font-family: "Dashicons";
    font-size: 1.4em;
    line-height: 1;
    content: '\f15e';
    top: 12px;
    right: 16px;
}
input[type="checkbox"].wppd-ui-checkblock:checked + label {
    background-color: var(--ui-admin-active);
    color: #ffffff;
}
input[type="checkbox"].wppd-ui-checkblock + label > b {
    display: block;
    font-size: 1.2em;
    margin: 0 0 8px 0;
}



/**
 * Thin UI Popovers
 */
label.thin-ui-popover {
    position: relative;
}

label.thin-ui-popover .thin-ui-popover-body {
    display: none;

    font-size: 13px;
    border-radius: 2px;
    padding: 16px 36px 16px 16px;
    background-color: #ffffff;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);

    position: absolute;
    z-index: 128;
    top: 32px;
    left: 0;
    min-width: 320px;
    max-width: 480px;
}

label.thin-ui-popover button:focus+.thin-ui-popover-body {
    display: block;
}

.thin-ui-svg {
    display: inline-block;
    height: 1em;
    vertical-align: -0.125em;
}
