.saturn-code {
    background-color: #1a2023;
    border: 0 none;
    color: #ecf0f1;
    word-wrap: normal;
    white-space: pre;
}
.saturn-welcome {
    margin: 64px 0 48px 0;
    font-size: 48px;
    font-weight: 300;
    color: #000000;
}

.saturn-wrap {
    max-width: 1170px;
}


.empty-row-featured {
    display: none;
}

.feature-order-wrap {
    display: flex;
}
.feature-order-wrap div {
    text-align: center;
    padding: 24px 8px;
    margin: 2px;
    background-color: #ffffff;
    border-radius: 2px;
}
.feature-order-wrap .fa-fw {
    margin-bottom: 16px;
    opacity: 0.5;
}



/**
 * Saturn Flexbox
 */
.ui-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.ui-flex-item {
    flex: 0 1 auto;
}







.button-active {
    opacity: 0.5;
}



.wp-block[aria-label="Block: Saturn Slider"] {
    font-size: 14px;
}

.codor {
    font-weight: 400;
    font-size: 13px;

    padding: 0 2px;
    margin: 0 1px;
    background: transparent;
    color: #0366d6;
}
small .codor {
    font-size: 11px;
}



.nav-tab span {
    vertical-align: top;
    border-radius: 2px;
    padding: 2px 4px;
    font-weight: 400;
    font-size: 9px;
    color: #ffffff;
}
.nav-tab span.new {
    background-color: #1abc9c;
}
.nav-tab span.themes {
    background-color: #9b59b6;
}
.nav-tab span.admin {
    background-color: #c0392b;
}



.color-well {
    width: 96px;
}



.wp-block[aria-label="Block: Saturn Slider"],
.wp-block[data-type="wppd/footer-signature"] {
    font-size: 12px;
    background-color: #eaf5ff;
    color: #0366d6;
    padding: 24px;
    cursor: default;
}
.wp-block[data-type="wppd/footer-signature"]:after {
    content: "WP Saturn Shortcode Block";
    position: absolute;
    left: auto;
    right: 6px;
    top: 6px;
    font-size: 12px;
    color: #999999;
}



/**
 * Code
 */
code,
.codor,
.color-well,
.saturn-code,
.wp-block[aria-label="Block: Saturn Slider"],
.wp-block[data-type="wppd/footer-signature"] {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}
code {
    font-size: inherit;
}



/**
 * Saturn Icons (back-end only)
 */
.saturn-icon-12 {
    height: 12px;
}
.saturn-icon-padded {
    padding: 0 6px;
}



.saturn-group-switch input {
    display: none
}

.saturn-group-switch {
    white-space: nowrap;
    display: inline-flex
}

.saturn-group-switch label {
    display: inline-flex;
    align-items: center;
    padding: 8px;
    border-radius: 0;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    transition: all .1s ease-in-out;
    user-select: none
}

.saturn-group-switch label:hover {
    cursor: pointer;
    background-color: #e4e9ef
}

.saturn-group-switch input:checked+label {
    background-color: #000;
    color: #fff
}

.saturn-group-switch input:checked+label svg path {
    fill: #fff
}

th label small {
    font-weight: 400;
}
