/**
 * Flickity
 *
 * @version 2.2.2
 * @copyright https://flickity.metafizzy.co
 */
.flickity-enabled{position:relative}.flickity-enabled:focus{outline:0}.flickity-viewport{overflow:hidden;position:relative;height:100%}.flickity-slider{position:absolute;width:100%;height:100%}.flickity-enabled.is-draggable{-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.flickity-enabled.is-draggable .flickity-viewport{cursor:move;cursor:-webkit-grab;cursor:grab}.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down{cursor:-webkit-grabbing;cursor:grabbing}.flickity-button{position:absolute;background:hsla(0,0%,100%,.75);border:none;color:#333}.flickity-button:hover{background:#fff;cursor:pointer}.flickity-button:focus{outline:0;box-shadow:0 0 0 5px #19f}.flickity-button:active{opacity:.6}.flickity-button:disabled{opacity:.3;cursor:auto;pointer-events:none}.flickity-button-icon{fill:currentColor}.flickity-prev-next-button{top:50%;width:44px;height:44px;border-radius:50%;transform:translateY(-50%)}.flickity-prev-next-button.previous{left:10px}.flickity-prev-next-button.next{right:10px}.flickity-rtl .flickity-prev-next-button.previous{left:auto;right:10px}.flickity-rtl .flickity-prev-next-button.next{right:auto;left:10px}.flickity-prev-next-button .flickity-button-icon{position:absolute;left:20%;top:20%;width:60%;height:60%}.flickity-page-dots{position:absolute;width:100%;bottom:-25px;padding:0;margin:0;list-style:none;text-align:center;line-height:1}.flickity-rtl .flickity-page-dots{direction:rtl}.flickity-page-dots .dot{display:inline-block;width:10px;height:10px;margin:0 8px;background:#333;border-radius:50%;opacity:.25;cursor:pointer}.flickity-page-dots .dot.is-selected{opacity:1}

.supernova-testimonials .flickity-viewport {
    transition: height 0.2s;
}


.slider .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 600px;

    opacity: 0 !important;
    transition: opacity 0.5s ease !important;
    will-change: opacity;
}
.slider.fullvh .slide {
    height: 100vh;
}
.slider .slide.is-selected {
    opacity: 1 !important;
}





.slider {
    color: #ffffff;
}
.slider h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.5;
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 0;
}
.slider h2 {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.5;
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
    margin: 0 0 48px 0;
    padding: 0;
}

.slider-wrap.slider-controls--no .gallery .buttons {
    display: none;
}



.slider-wrap {
    position: relative;
    min-height: 600px;
    transition: all 0.25s ease-out;
}

.slider-wrap .slider .slide .wrap {
    position: relative;
    width: 100%;
    z-index: 1;
}

.homepage-hero.fullvh .slide video,
.homepage-hero .slide video {
    height: auto;
}

@supports (object-fit: cover) {
    .homepage-hero .slide video {
        transform: none;
        height: 100%;
        object-fit: cover;
    }
    .homepage-hero.fullvh .slide video {
        transform: none;
        height: 100vh;
        object-fit: cover;
    }
}

@supports (-ms-ime-align: auto) {
    .homepage-hero.fullvh .slide video,
    .homepage-hero .slide video {
        height: auto;
    }
}

.slider-wrap .slider.homepage-hero .slide video {
    opacity: 1 !important;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



@media all and (max-width: 768px) {
    .slider-wrap .slider .slide .wrap {
        padding: 0 16px 0 16px;
    }
    .slider h1 {
        font-size: 32px;
    }
    .slider h2 {
        font-size: 18px;
    }
    .slider p {
        font-size: 14px;
    }
}

.slide .slide-inner-zoom {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    animation: moomin 24s ease-in-out infinite;
    transition: all .5s ease-in-out;
}

@keyframes moomin {
    0% {
        transform: translateY(0px) scale(1);
    }
    50% {
        transform: translateY(0px) scale(1.2);
    }
    100% {
        transform: translateY(0px) scale(1);
    }
}



/**
 * Sydney carousel styles
 */

.flickity-prev-next-button.previous {
    left: 24px;
}
.flickity-prev-next-button.next {
    right: 24px;
}



/**
 * Flickity fade transition
 *
 * @source https://unpkg.com/flickity-fade@1/flickity-fade.css
 */
.flickity-enabled.is-fade .flickity-slider > * {
    pointer-events: none;
    z-index: 0;
}
.flickity-enabled.is-fade .flickity-slider > .is-selected {
    pointer-events: auto;
    z-index: 1;
}



/**
 * Flickity fullscreen
 *
 * @source https://unpkg.com/flickity-fullscreen@1.1.1/fullscreen.css
 */
.flickity-enabled.is-fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.9);
    padding-bottom: 35px;
    z-index: 9;
}
.flickity-enabled.is-fullscreen .flickity-page-dots {
    bottom: 10px;
}
.flickity-enabled.is-fullscreen .flickity-page-dots .dot {
    background: white;
}
/* Prevent page scrolling when flickity is fullscreen */
html.is-flickity-fullscreen {
    overflow: hidden;
}
/* Flickity fullscreen button */
.flickity-fullscreen-button {
    display: block;
    right: 16px;
    top: 8px;
    width: 28px;
    height: 28px;
    border-radius: 3px;
}
.flickity-fullscreen-button-exit {
    display: none;
}
.flickity-enabled.is-fullscreen {
    z-index: 32;
}
.flickity-enabled.is-fullscreen .flickity-fullscreen-button-exit {
    display: block;
}
.flickity-enabled.is-fullscreen .flickity-fullscreen-button-view {
    display: none;
}
.flickity-fullscreen-button .flickity-button-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 6px;
    top: 6px;
}

/* .is-fullscreen added to carousel when fullscreen size cells to full height when fullscreen */
.flickity-carousel.is-fullscreen.supernova-fullwidth {
    position: fixed;
    width: 100%;
    max-width: none;
    left: 0;
    right: unset;
    margin: unset;
}






@media screen and (max-width: 768px) {
    .slider .slide,
	.homepage-hero .slide video {
	    height: 100vh;
	}
	.slider-wrap {
		min-height: 100vh;
	}
}

@media screen and (max-width: 480px) {
    .flickity-fullscreen-button {
        display: none;
    }
}
